body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-end-rgb);
}

main {
  padding: 20px;
  max-width: var(--max-width);
  margin: auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #0071ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  margin-left: 10px;
}
