.gradient-background {
  background: linear-gradient(135deg, #c3cfe2, #f5f7fa);
  padding: 20px;
  min-height: 100vh;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
